body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 12px;
    width: 200px;
}

button {
    width: 250px;
    height: 40px;
}

.score {
    display: flex;
    gap: 12px;
    font-size: 26px;
    font-weight: 900;
    margin-top: 30px;
}